<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <title>{% block title %}{{ site.name }}{%endblock%}</title>

        {% for css_url in site.assets.main_css.urls() %}
        <link rel="stylesheet" href="{{ css_url }}" type="text/css" />
        {% endfor %}
        {% block page_css %}{% endblock %}

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:800,400,300|Inconsolata' rel='stylesheet' type='text/css'>

        <!--[if IE]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

        {% block content %}
        {% endblock %}

        <footer>
            <nav>
                <ul>
                {% for page in site.pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a>{% if not loop.last %} ::{% endif %}</li>
                {% endfor %}
                </ul>
            </nav>
        </footer>

</body>
</html>
